<div class="row">
  <div class="col-md-9">
    <%= image_tag(@idea.picture, width: '100%') if @idea.picture.present? %>
  </div>

  <div class="col-md-3">
    <p><b>Name: </b><%= @idea.name %></p>
    <p><b>Description: </b><%= @idea.content %></p>
    <p>
      <%= link_to 'Edit', edit_idea_path(@idea), class: "btn btn-primary" %>
      <%= link_to 'Destroy', @idea, data: { confirm: 'Are you sure?' }, method: :delete, class: "btn btn-danger" %>
      <%= link_to 'Back', ideas_path, class: "btn btn-success" %>
    </p>
  </div>
</div>